In [280]:
%matplotlib inline

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
from sklearn import model_selection, preprocessing
import matplotlib.pyplot as plt
import glob
import re
import time
import seaborn as sns
import xgboost as xgb
import csv
import pickle
color = sns.color_palette()

In [290]:
DATA_PATH = '/kaggle/dev/sberbank-russian-housing-market-data/'
TRAIN_DATA = DATA_PATH + 'train.csv'
TEST_DATA = DATA_PATH + 'test.csv'
MACRO_DATA = DATA_PATH + 'macro.csv'
MODELS_PATH = '/kaggle/dev/ashish/sberbank-russian-housing-market/models/'
SUBMISSIONS_PATH = '/kaggle/dev/sberbank-russian-housing-market-data/submissions/'

In [291]:
train_df = pd.read_csv(TRAIN_DATA, )
macro_df = pd.read_csv(MACRO_DATA)
test_df = pd.read_csv(TEST_DATA)

In [292]:
print(train_df.shape)
print(test_df.shape)
print(macro_df.shape)

(30471, 292)
(7662, 291)
(2484, 100)

In [294]:
train_df['timestamp'] = pd.to_datetime(train_df['timestamp'])
test_df['timestamp'] = pd.to_datetime(test_df['timestamp'])
macro_df['timestamp'] = pd.to_datetime(macro_df['timestamp'])

In [295]:
print(train_df['timestamp'].dtype)

datetime64[ns]

In [ ]:
plt.figure(figsize=(10,10))
plt.scatter(range(train_df.shape[0]), np.sort(train_df.price_doc.values))
plt.xlabel('index', fontsize=12)
plt.ylabel('price', fontsize=12)
plt.show()

In [ ]:
plt.figure(figsize=(10,10))
sns.distplot(train_df.price_doc.values, bins=50, kde=True)
plt.xlabel('price', fontsize=12)
plt.show()

In [ ]:
plt.figure(figsize=(10,10))
sns.distplot(np.log(train_df.price_doc.values), bins=50, kde=True)
plt.xlabel('price', fontsize=12)
plt.show()

In [74]:
train_df['yearmonth'] = train_df['timestamp'].apply(lambda x: x[:4] + x[5:7])
grouped_df = train_df.groupby('yearmonth')['price_doc'].aggregate(np.median).reset_index()

TypeError: 'Timestamp' object is not subscriptable

In [ ]:
plt.figure(figsize=(16,8))
sns.barplot(grouped_df.yearmonth.values, grouped_df.price_doc.values, alpha=0.8, color=color[2])
plt.ylabel('Median Price', fontsize=16)
plt.xlabel('Year Month', fontsize=16)
plt.xticks(rotation='vertical')
plt.show()

In [230]:
missing_df = train_macro_df.isnull().sum(axis=0).reset_index()
missing_df.columns = ['column_name', 'missing_count']
missing_df = missing_df.ix[missing_df['missing_count']>0]
missing_df = missing_df.sort_values(['column_name'], ascending=[True])
missing_df

                               column_name  missing_count
99                ID_railroad_station_walk             25
389                        apartment_build           3239
350                            baths_share           3239
80                   build_count_1921-1945           4991
81                   build_count_1946-1970           4991
82                   build_count_1971-1995           4991
83                  build_count_after_1995           4991
79                 build_count_before_1920           4991
69                       build_count_block           4991
72                       build_count_brick           4991
75                        build_count_foam           4991
71                       build_count_frame           4991
77                         build_count_mix           4991
73                    build_count_monolith           4991
74                       build_count_panel           4991
76                        build_count_slag           4991
70                        build_count_wood           4991
7                               build_year          13605
185                    cafe_avg_price_1000           6524
208                    cafe_avg_price_1500           4199
231                    cafe_avg_price_2000           1725
254                    cafe_avg_price_3000            991
162                     cafe_avg_price_500          13281
277                    cafe_avg_price_5000            297
184            cafe_sum_1000_max_price_avg           6524
183            cafe_sum_1000_min_price_avg           6524
207            cafe_sum_1500_max_price_avg           4199
206            cafe_sum_1500_min_price_avg           4199
230            cafe_sum_2000_max_price_avg           1725
229            cafe_sum_2000_min_price_avg           1725
..                                     ...            ...
372                 modern_education_share           5592
385             museum_visitis_per_100_cap          16901
8                                 num_room           9572
373              old_education_build_share           5592
356                        old_house_share           3239
336                  overdue_wages_per_cap           3239
359            perinatal_mort_per_1000_cap           3239
343                          pop_migration           3239
344                          pop_total_inc           3239
387            population_reg_sports_share           3239
377                          power_clinics           3239
18                         preschool_quota           6688
333               profitable_enterpr_share           3239
269                         prom_part_5000            178
374                      provision_doctors           3239
381      provision_retail_space_modern_sqm          29718
380             provision_retail_space_sqm          24879
97                railroad_station_walk_km             25
98               railroad_station_walk_min             25
78   raion_build_count_with_builddate_info           4991
68    raion_build_count_with_material_info           4991
321      real_dispos_income_per_cap_growth           3239
21                            school_quota           6685
351                         sewerage_share           3239
335                     share_own_revenues           3239
10                                   state          13559
388              students_reg_sports_share          16901
383          theaters_viewers_per_1000_cap          16901
334             unprofitable_enterpr_share           3239
349                      water_pipes_share           3239

[93 rows x 2 columns]

In [ ]:
ind = np.arange(missing_df.shape[0])
plt.figure(figsize=(12,18))
fig, ax = plt.subplots(figsize=(12,18))
rects = ax.barh(ind, missing_df.missing_count.values, color='y')
ax.set_yticks(ind)
ax.set_yticklabels(missing_df.column_name.values, rotation='horizontal')
plt.show()

In [227]:
train_macro_df =  pd.merge(train_df, macro_df, left_on='timestamp', right_on='timestamp', how='inner')
assert(len(train_macro_df) == len(train_df))

In [228]:
test_macro_df =  pd.merge(test_df, macro_df, left_on='timestamp', right_on='timestamp', how='inner')
assert(len(test_macro_df) == len(test_df))

In [267]:
# Skip merging with macro data
train_macro_df = train_df
test_macro_df = test_df

In [270]:
for i in train_macro_df.columns:
    try:
        if not(train_macro_df[i].dtype == test_macro_df[i].dtype):
            print('train:', i, '-', train_macro_df[i].dtype, '; test:', i, '-', test_macro_df[i].dtype)
    except KeyError:
        print('KeyError- skipping for:', i)

KeyError- skipping for: price_doc

In [269]:
train_macro_df['full_sq'] = train_macro_df['full_sq'].astype('float64')
test_macro_df['floor'] = test_macro_df['floor'].astype('float64')
test_macro_df['max_floor'] = test_macro_df['max_floor'].astype('float64')
test_macro_df['material'] = test_macro_df['material'].astype('float64')
test_macro_df['num_room'] = test_macro_df['num_room'].astype('float64')

In [271]:
def kinetic_energy(column_df):
    probs=(np.unique(column_df, return_counts=True)[1]).astype(float)/column_df.shape[0]
    kinetic=np.sum(probs**2)
    return kinetic

def replace_nan(column_df):
    #droping   rows from column df in order to compute  kinetic  for  existing  categories
    feature_without_nans=column_df.dropna(axis=0,inplace=False)
    kinetic_replace_value=kinetic_energy(feature_without_nans)
    column_df=column_df.fillna(value=kinetic_replace_value)
    return column_df

for col in train_macro_df.columns:
    if train_macro_df[col].isnull().values.any()==True:
        train_macro_df[col]=replace_nan(train_macro_df[col])

train_macro_df.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,2011-08-20,43.0,27.0,4.0,0.10838,0.493169,0.01998,0.334164,0.126191,...,9,4,0,13,22,1,0,52,4,5850000
1,2,2011-08-23,34.0,19.0,3.0,0.10838,0.493169,0.01998,0.334164,0.126191,...,15,3,0,15,29,1,10,66,14,6000000
2,3,2011-08-27,43.0,29.0,2.0,0.10838,0.493169,0.01998,0.334164,0.126191,...,10,3,0,11,27,0,4,67,10,5700000
3,4,2011-09-01,89.0,50.0,9.0,0.10838,0.493169,0.01998,0.334164,0.126191,...,11,2,1,4,4,0,0,26,3,13100000
4,5,2011-09-05,77.0,77.0,4.0,0.10838,0.493169,0.01998,0.334164,0.126191,...,319,108,17,135,236,2,91,195,14,16331452

In [272]:
for col in test_macro_df.columns:
    if test_macro_df[col].isnull().values.any()==True:
        test_macro_df[col]=replace_nan(test_macro_df[col])

test_macro_df.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000
0,30474,2015-07-01,39.0,20.700000,2.0,9.0,1.0,1998.0,1.0,8.9,...,8,0,0,0,1,10,1,0,14,1
1,30475,2015-07-01,79.2,0.006601,8.0,17.0,1.0,0.0,3.0,1.0,...,4,1,1,0,2,11,0,1,12,1
2,30476,2015-07-01,40.5,25.100000,3.0,5.0,2.0,1960.0,2.0,4.8,...,42,11,4,0,10,21,0,10,71,11
3,30477,2015-07-01,62.8,36.000000,17.0,17.0,1.0,2016.0,2.0,62.8,...,1,1,2,0,0,10,0,0,2,0
4,30478,2015-07-01,40.0,40.000000,17.0,17.0,1.0,0.0,1.0,1.0,...,5,1,1,0,2,12,0,1,11,1

In [273]:
train_columns = set(train_macro_df.columns)
drop_columns = ['id', 'timestamp', 'price_doc', 'child_on_acc_pre_school']

for col in drop_columns:
    if col in train_columns:
        train_columns.remove(col)

for f in train_columns:
    if train_macro_df[f].dtype=='object':
        print('encoding column:', f, '(original dtype:', train_macro_df[f].dtype, ')')
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(set(train_macro_df[f].values) | set(test_macro_df[f].values)))
        try:
            train_macro_df[f] = lbl.transform(list(train_macro_df[f].values))
            test_macro_df[f] = lbl.transform(list(test_macro_df[f].values))
        except TypeError as err:
            print(f)
            print(err)

train_macro_df.to_csv(DATA_PATH + 'train_preprocessed.csv')
test_macro_df.to_csv(DATA_PATH + 'test_preprocessed.csv')

encoding column: water_1line (original dtype: object )
encoding column: ecology (original dtype: object )
encoding column: thermal_power_plant_raion (original dtype: object )
encoding column: radiation_raion (original dtype: object )
encoding column: nuclear_reactor_raion (original dtype: object )
encoding column: sub_area (original dtype: object )
encoding column: detention_facility_raion (original dtype: object )
encoding column: incineration_raion (original dtype: object )
encoding column: railroad_1line (original dtype: object )
encoding column: culture_objects_top_25 (original dtype: object )
encoding column: product_type (original dtype: object )
encoding column: oil_chemistry_raion (original dtype: object )
encoding column: big_road1_1line (original dtype: object )
encoding column: big_market_raion (original dtype: object )
encoding column: railroad_terminal_raion (original dtype: object )

In [274]:
train_df = pd.read_csv(DATA_PATH + 'train_preprocessed.csv')
test_df = pd.read_csv(DATA_PATH + 'test_preprocessed.csv')
print('train_df.shape', train_df.shape)
print('test_df.shape', test_df.shape)

train_df.shape (30471, 293)
test_df.shape (7662, 292)

In [278]:
def rmsle(y_predicted, y_true):
    y_pred = y_predicted
    y_label = y_true.get_label()
    temp = np.square(np.log(y_pred + 1.0) - np.log(y_label + 1.0))
    error = np.sqrt(np.mean(temp))
    error_std = np.sqrt(np.std(temp))
    print('rmsle:', error, '; std:', error_std)
    return ("", error)

X = train_df[list(train_columns)]
Y = train_df.price_doc.values

train_X, val_X, train_Y, val_Y = model_selection.train_test_split(X, Y, train_size=0.7, random_state=42)

print('train_X.shape', train_X.shape)
print('train_Y.shape', train_Y.shape)
print('val_X.shape', val_X.shape)
print('val_Y.shape', val_Y.shape)

train_X.shape (21329, 289)
train_Y.shape (21329,)
val_X.shape (9142, 289)
val_Y.shape (9142,)

In [279]:
model = xgb.XGBRegressor(max_depth=8,
                        #gamma=0.5,
                        objective="reg:linear",
                        n_estimators=1000,
                        #min_child_weight=6,
                        learning_rate=0.05,
                        nthread=12,
                        subsample=0.70,
                        colsample_bytree=0.70,
                        seed=42,
                        #max_delta_step=1,
                        reg_alpha=0.5,
                        reg_lambda=0.5)

model.fit(train_X, train_Y, eval_set=[(val_X, val_Y)], verbose=True, eval_metric=rmsle, early_stopping_rounds=50)

model_id = "model-" + str(int(time.time()))
pickle.dump(model, open(MODELS_PATH + model_id + ".xgb", "wb"))

print("Saved model ", model_id)

rmsle: 2.96201 ; std: 1.60538
[0]	validation_0-:2.96201
Will train until validation_0- hasn't improved in 50 rounds.
rmsle: 2.29809 ; std: 1.29669
[1]	validation_0-:2.29809
rmsle: 1.9262 ; std: 1.12769
[2]	validation_0-:1.9262
rmsle: 1.67214 ; std: 1.00875
[3]	validation_0-:1.67214
rmsle: 1.47854 ; std: 0.916848
[4]	validation_0-:1.47854
rmsle: 1.33054 ; std: 0.838093
[5]	validation_0-:1.33054
rmsle: 1.21063 ; std: 0.774983
[6]	validation_0-:1.21063
rmsle: 1.10978 ; std: 0.726268
[7]	validation_0-:1.10978
rmsle: 1.02512 ; std: 0.687774
[8]	validation_0-:1.02512
rmsle: 0.952843 ; std: 0.660144
[9]	validation_0-:0.952843
rmsle: 0.8907 ; std: 0.642344
[10]	validation_0-:0.8907
rmsle: 0.836977 ; std: 0.629651
[11]	validation_0-:0.836977
rmsle: 0.790302 ; std: 0.627133
[12]	validation_0-:0.790302
rmsle: 0.749788 ; std: 0.627969
[13]	validation_0-:0.749788
rmsle: 0.713234 ; std: 0.634129
[14]	validation_0-:0.713234
rmsle: 0.682276 ; std: 0.642974
[15]	validation_0-:0.682276
rmsle: 0.654808 ; std: 0.652429
[16]	validation_0-:0.654808
rmsle: 0.630271 ; std: 0.663404
[17]	validation_0-:0.630271
rmsle: 0.609226 ; std: 0.675022
[18]	validation_0-:0.609226
rmsle: 0.590635 ; std: 0.685931
[19]	validation_0-:0.590635
rmsle: 0.57418 ; std: 0.697279
[20]	validation_0-:0.57418
rmsle: 0.559913 ; std: 0.708491
[21]	validation_0-:0.559913
rmsle: 0.547457 ; std: 0.718628
[22]	validation_0-:0.547457
rmsle: 0.53651 ; std: 0.727979
[23]	validation_0-:0.53651
rmsle: 0.526976 ; std: 0.736833
[24]	validation_0-:0.526976
rmsle: 0.518567 ; std: 0.745286
[25]	validation_0-:0.518567
rmsle: 0.511134 ; std: 0.753479
[26]	validation_0-:0.511134
rmsle: 0.504767 ; std: 0.760801
[27]	validation_0-:0.504767
rmsle: 0.499112 ; std: 0.767744
[28]	validation_0-:0.499112
rmsle: 0.494351 ; std: 0.774719
[29]	validation_0-:0.494351
rmsle: 0.490134 ; std: 0.781125
[30]	validation_0-:0.490134
rmsle: 0.486602 ; std: 0.787297
[31]	validation_0-:0.486602
rmsle: 0.483458 ; std: 0.792883
[32]	validation_0-:0.483458
rmsle: 0.480649 ; std: 0.798084
[33]	validation_0-:0.480649
rmsle: 0.478172 ; std: 0.803291
[34]	validation_0-:0.478172
rmsle: 0.476302 ; std: 0.808183
[35]	validation_0-:0.476302
rmsle: 0.474706 ; std: 0.81267
[36]	validation_0-:0.474706
rmsle: 0.473308 ; std: 0.816733
[37]	validation_0-:0.473308
rmsle: 0.472051 ; std: 0.820793
[38]	validation_0-:0.472051
rmsle: 0.470979 ; std: 0.824369
[39]	validation_0-:0.470979
rmsle: 0.470076 ; std: 0.827725
[40]	validation_0-:0.470076
rmsle: 0.469283 ; std: 0.830869
[41]	validation_0-:0.469283
rmsle: 0.468596 ; std: 0.833892
[42]	validation_0-:0.468596
rmsle: 0.468081 ; std: 0.836638
[43]	validation_0-:0.468081
rmsle: 0.467715 ; std: 0.839349
[44]	validation_0-:0.467715
rmsle: 0.4674 ; std: 0.842075
[45]	validation_0-:0.4674
rmsle: 0.467134 ; std: 0.84461
[46]	validation_0-:0.467134
rmsle: 0.466924 ; std: 0.84701
[47]	validation_0-:0.466924
rmsle: 0.466904 ; std: 0.849174
[48]	validation_0-:0.466904
rmsle: 0.466872 ; std: 0.851193
[49]	validation_0-:0.466872
rmsle: 0.466787 ; std: 0.852853
[50]	validation_0-:0.466787
rmsle: 0.46683 ; std: 0.854626
[51]	validation_0-:0.46683
rmsle: 0.46677 ; std: 0.856178
[52]	validation_0-:0.46677
rmsle: 0.466775 ; std: 0.857632
[53]	validation_0-:0.466775
rmsle: 0.466747 ; std: 0.858958
[54]	validation_0-:0.466747
rmsle: 0.46682 ; std: 0.860252
[55]	validation_0-:0.46682
rmsle: 0.466925 ; std: 0.861526
[56]	validation_0-:0.466925
rmsle: 0.46695 ; std: 0.862682
[57]	validation_0-:0.46695
rmsle: 0.467021 ; std: 0.863752
[58]	validation_0-:0.467021
rmsle: 0.467074 ; std: 0.864679
[59]	validation_0-:0.467074
rmsle: 0.467179 ; std: 0.865717
[60]	validation_0-:0.467179
rmsle: 0.467314 ; std: 0.866652
[61]	validation_0-:0.467314
rmsle: 0.467443 ; std: 0.867742
[62]	validation_0-:0.467443
rmsle: 0.467517 ; std: 0.868647
[63]	validation_0-:0.467517
rmsle: 0.467694 ; std: 0.869527
[64]	validation_0-:0.467694
rmsle: 0.467832 ; std: 0.870433
[65]	validation_0-:0.467832
rmsle: 0.467885 ; std: 0.871117
[66]	validation_0-:0.467885
rmsle: 0.467915 ; std: 0.871906
[67]	validation_0-:0.467915
rmsle: 0.468015 ; std: 0.872788
[68]	validation_0-:0.468015
rmsle: 0.46804 ; std: 0.873192
[69]	validation_0-:0.46804
rmsle: 0.468135 ; std: 0.873778
[70]	validation_0-:0.468135
rmsle: 0.468167 ; std: 0.874227
[71]	validation_0-:0.468167
rmsle: 0.468292 ; std: 0.874832
[72]	validation_0-:0.468292
rmsle: 0.468334 ; std: 0.875303
[73]	validation_0-:0.468334
rmsle: 0.468329 ; std: 0.875698
[74]	validation_0-:0.468329
rmsle: 0.468255 ; std: 0.875841
[75]	validation_0-:0.468255
rmsle: 0.468316 ; std: 0.87625
[76]	validation_0-:0.468316
rmsle: 0.468247 ; std: 0.876442
[77]	validation_0-:0.468247
rmsle: 0.468312 ; std: 0.876708
[78]	validation_0-:0.468312
rmsle: 0.468344 ; std: 0.876956
[79]	validation_0-:0.468344
rmsle: 0.46843 ; std: 0.877339
[80]	validation_0-:0.46843
rmsle: 0.468377 ; std: 0.877431
[81]	validation_0-:0.468377
rmsle: 0.468409 ; std: 0.877656
[82]	validation_0-:0.468409
rmsle: 0.468388 ; std: 0.877875
[83]	validation_0-:0.468388
rmsle: 0.468475 ; std: 0.878236
[84]	validation_0-:0.468475
rmsle: 0.468551 ; std: 0.878563
[85]	validation_0-:0.468551
rmsle: 0.468555 ; std: 0.878866
[86]	validation_0-:0.468555
rmsle: 0.468569 ; std: 0.87902
[87]	validation_0-:0.468569
rmsle: 0.468546 ; std: 0.879231
[88]	validation_0-:0.468546
rmsle: 0.4686 ; std: 0.879401
[89]	validation_0-:0.4686
rmsle: 0.46858 ; std: 0.879507
[90]	validation_0-:0.46858
rmsle: 0.468708 ; std: 0.879737
[91]	validation_0-:0.468708
rmsle: 0.468741 ; std: 0.879851
[92]	validation_0-:0.468741
rmsle: 0.468781 ; std: 0.879996
[93]	validation_0-:0.468781
rmsle: 0.468867 ; std: 0.88024
[94]	validation_0-:0.468867
rmsle: 0.4689 ; std: 0.880432
[95]	validation_0-:0.4689
rmsle: 0.468908 ; std: 0.880572
[96]	validation_0-:0.468908
rmsle: 0.468885 ; std: 0.880648
[97]	validation_0-:0.468885
rmsle: 0.468902 ; std: 0.880765
[98]	validation_0-:0.468902
rmsle: 0.468885 ; std: 0.880748
[99]	validation_0-:0.468885
rmsle: 0.468857 ; std: 0.880808
[100]	validation_0-:0.468857
rmsle: 0.468896 ; std: 0.881041
[101]	validation_0-:0.468896
rmsle: 0.468894 ; std: 0.8811
[102]	validation_0-:0.468894
rmsle: 0.468864 ; std: 0.881201
[103]	validation_0-:0.468864
rmsle: 0.468861 ; std: 0.88134
[104]	validation_0-:0.468861
Stopping. Best iteration:
[54]	validation_0-:0.466747

Saved model  model-1495098979

In [16]:
train_X

array([[46, nan, 4.0, ..., 0, 6, 1],
       [134, nan, 2.0, ..., 0, 0, 0],
       [44, 28.0, 6.0, ..., 8, 82, 12],
       ...,
       [59, 41.0, 4.0, ..., 7, 44, 7],
       [64, 33.0, 2.0, ..., 0, 6, 1],
       [33, 13.0, 15.0, ..., 0, 13, 1]], dtype=object)

In [239]:
test_columns = list(train_columns)
test_columns.append('id')

test_X =  test_df[test_columns]
print(test_X.shape)

(7662, 388)

In [240]:
model = pickle.load(open(MODELS_PATH + 'model-1495097956.xgb', 'rb'))
filename = SUBMISSIONS_PATH + 'submission-' + str(int(time.time())) + ".csv"
test_X['predicted_price_doc'] = model.predict(test_X.loc[:, train_columns])
predicted_submission_df = test_X[['id', 'predicted_price_doc']]
predicted_submission_df.columns = ['id', 'price_doc']
predicted_submission_df.to_csv(filename, index=False)
print('Generated submission file: {}'.format(filename))

Generated submission file: /kaggle/dev/sberbank-russian-housing-market-data/submissions/submission-1495097995.csv

/kaggle/dev/ashish/sberbank-russian-housing-market/sber/lib/python3.5/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until